* {
    margin: 0px;
    padding: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}

.header {
    display: flex;
    justify-content: space-between;
}
#quizarea{
    margin-left: 300px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items:flex-start
}

#quiz{
    font-size: 25px;
    font-weight: bold;

}

#message{
    width: 800px;
    color: rgb(200, 195, 195);
    font-size: 30px;
    font-style: italic;
    margin-top: 20px;
    border-top: solid 2px rgb(200, 195, 195);
}

li{
    /* height: 50px;
    width: 200px; */
    margin-top: 15px;
    padding: 10px;
    color: white ;
    background-color: rgb(78, 34, 122);
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;

}

.regpage{
    margin-top: 0px;
    padding: 0px;
    color: black;
    background-color: white;
    list-style-type: none;

    cursor: auto;
    
    border-radius: 0px;
    

}